.bookmarks-tab {
    background: linear-gradient(to bottom, #bda126, #bfb06b);
    width: 100px
}

.bookmarks-tab:hover {
    background: linear-gradient(to bottom, #8d781c, #897e4c);
}

.menu-item {
    color: white;
    background-color: #292828;
}
.menu-item:hover {
    background-color: #4a4848;
}
